.image-container {
    border: 4px solid #68d148;
    height: 300px;
    width: fit-content;
}

.image {
    border-width: 2px;
    border-color: white;
    border-style: inset inset none none;
    height: 100%;
}
.image2{
    float: right;
    height: 20rem;
}

.container-galery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.galery-images {
    border: 4px solid #68d148;
    height: 250px;
    margin: 16px;
}
#clientes p {
    color: #198038;
}