/* Helloooo soy un comentario en CSS, me hice con CTRL+K+C */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
}

body {
    margin: 0;
    margin-top: 4.5rem;
}

html{
    font-size: 16px;
}

h1 {
    font-family: 'varsity-regular', cursive;
    margin: 0;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 700;
}

p, a, li {
    font-weight: 400;
}

p, li {
    font-size: 16px;
}

a {
    /*Con respecto a elemento padre*/
    font-size: 1.5rem;
    /*Con respecto a la configuracion del root*/
    /* font-size: 1.5rem; */
    text-decoration: none;
}

a h1 {
    text-decoration: none;
    font-size: 2rem;
}

section {
    padding: 1rem 5%;
}

/*HELPERS*/

.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.height-200 {
    height: 200px;
}

.ml-1 {
    margin-left: 0;
}
